* {                                   
    margin: 10;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:#90ee90 ;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
   /** font-weight:bold; */
    color: black;
    text-align: center;
    margin-top: 10px;
    background-color: grey;
}


h2,li {
    color: blue;
}

hr {
    width: 45%;
    background-color: black;
    border-style: none;
    height: 5px;
    margin-bottom: 2px;
}

h3 {
    margin: 5px;
}

.rojo {
    color:brown;
    font-weight: bold
}

.menu {
    display: flex;
}


.menuIzquierdo {
    background-color: burlywood;
    width: 35%;
 
}

.menuDerecha {
    background-color: aqua;
    width: 65%;
  
}



.miClase {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: maroon;
    border: 1px solid maroon;
    margin-bottom: 10px;
    text-align: center;
    background-color: orange;
}

.video {
    margin-top: 10;
    margin-right: 5;
    margin-left: 5;
    margin-bottom: 10;
    width: 300px;
    height: 200px;
}

.flexContainer {
    display: flex;
}


#objetivo {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: maroon;
    border: 1px solid maroon;
    margin-bottom: 10px;
    text-align: center;
    background-color: orange;
}

#datos_personales {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: maroon;
    border: 1px solid maroon;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    text-align: center;
    background-color: orange;
    width: 75%;
    float: left;
}

#foto_carnet {
    border-radius: 40%;
    width: 50%;           /** Recordatorio solo para Diegote (yo):Ocupara el 50% del total del contenedor*/
    text-align: center;
}


#info_complementaria {
     color: white;
     border-style:double;
     background-color: red;
     width: 100%;
}

#gustar {
    color: blueviolet;
}




